<p id="notice"><%= notice %></p>

<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @resource.attributes.keys.each do |field| %>
    <% unless field == "_id" %>
      <div class="field">
        <%= f.label field %><br />
        <%= f.text_field field %>
        <% if !%w[ title host url domain ].include? field %>
          <%= link_to "Remove", field, :confirm => "Are you sure you want to remove #{field}?", :method => :delete, :class => "remove_field" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <p>Other</p>
  <div class="field" id="other">
    <input id="resource_column_name" name="resource[dynamic_field][][name]" size="5" />
    <input id="resource_column_value" name="resource[dynamic_field][][value]" size="19" />
    <a href="#" class="add_field">Add</a>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
