<p id="notice"><%= notice %></p>

<% @resource.attributes.each do |key, value| %>
  <% unless key == "_id" %>
    <p>
      <b><%= key %></b>
      <%= value %>
    </p>
  <% end %>
<% end %>



<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
