<p id="notice"><%= notice %></p>

<% @resource.attributes.each do |key, values| %>
  <% unless key == "_id" %>
      <% if values.respond_to? :each %>
        <% values.each do |value| %>
          <p><strong><%= key %></strong> <%= value %></p>
        <% end %>
      <% else %>
        <p><strong><%= key %></strong> <%= values %></p>
      <% end %>
  <% end %>
<% end %>



<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
